.App {
  text-align: center;
}


#cars {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 220px;
  height: 220px;
  border: 5px solid #969696;
  background: #d9dbda;
  margin: 10px;
}